{% extends 'navbar.html' %}
{% load static %}

{% block title %} Home - Welcome! {% endblock %}

{% block content %}
    <div class="fs-6" style="margin-right: 28px;margin-top: 14px;margin-bottom: 22px;color: var(--bs-secondary);margin-left: 28px;">
        <h1 style="background: #e1edbd;font-size: 30px;padding-bottom: 5px;color: var(--bs-black);">Daily Feed</h1>
        <div style="background: #e1edbd;">
        <table class = "table table-striped">
                <thead style="background: #82b068; padding: 10px">
                    <tr>
                        <th style="width: 200px">Time</th>
                        <th style="width: 200px">Recycled</th>
                        <th style="width: 200px">Likes</th>
                    </tr>
                </thead>
                <tbody style="color: black;">
                    {% for item in Transaction %}
                    <tr style = "border-bottom: #82b068 solid 2px;">
                        <td>{{item.time}}</td>
                        <td>{{item.user}} just recycled {{item.product}} at {{item.bin.binId}}</td>
                        <td>{{item.likes}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
            <form id = "formId" method="POST">
                {% csrf_token %}
                <input type="hidden" name="location_lat" id="lat" value=0>
                <input type="hidden" name="location_long" id="long" value=0>
                <div class="btn btn-light me-2"><button class="btn btn-primary d-block w-100" type="submit">{{message}}</button></div>
            </form>
    </div>
    <script>
        currentLocationInsert();

        function currentLocationInsert() {
            function getLocation() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(binDistCalc);
                } else {
                    x.innerHTML = "Geolocation is not supported by this browser.";
                }
            }

            function binDistCalc(position) {
                var lat = position.coords.latitude;
                var long = position.coords.longitude;
                document.getElementById("lat").value = lat;
                document.getElementById("long").value = long;
            }
            getLocation();
        }
    </script>
{% endblock %}

