{% extends 'navbar.html' %}
{% load static %}

{% block title %} Home - Welcome! {% endblock %}

{% block content %}
    <div class="fs-6" style="margin-right: 28px;margin-top: 14px;margin-bottom: 22px;color: var(--bs-secondary);margin-left: 28px;">
        <h1 style="background: #e1edbd;font-size: 30px;padding-bottom: 5px;color: var(--bs-black);">Daily Feed</h1>
        <div style="background: #e1edbd;">
        <table class = "table table-striped">
                <thead style="background: #82b068; padding: 10px">
                    <tr>
                        <th style="width: 200px">Time</th>
                        <th style="width: 200px">Recycled</th>
                        <th style="width: 200px">Likes</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in Transaction %}
                    <tr style = "border-bottom: #82b068 solid 2px;">
                        <td>{{item.time}}</td>
                        <td>{{item.user}} just recycled {{item.product.barcode}} at {{item.bin.binId }}</td>
                        <td>{{item.likes}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <a class="btn btn-light me-2" role="button" href="{% url 'barcode_lookup' %}"style="color: var(--bs-black);background: var(--bs-primary);margin-top: 10px">Scan Item ?</a>
    </div>
{% endblock %}

