{% extends 'navbar.html' %}
{% load static %}

{% block title %} Leaderboard {% endblock %}

{% block content %}
    <div class="fs-6" style="margin-right: 28px;margin-top: 14px;margin-bottom: 22px;color: var(--bs-secondary);margin-left: 28px;">
        <h1 style="background: var(--secondary);font-size: 30px;padding-bottom: 5px;color: var(--bs-black);">Leaderboard</h1>
        <div style="background: #e1edbd;">
        <table class = "table table-striped" id = "leaderboard">
                <thead style="background: var(--primary); padding: 10px">
                    <tr>
                        <th style="width: 200px">Rank</th>
                        <th style="width: 200px">Username</th>
                        <th style="width: 200px">Points</th>
                    </tr>
                </thead>
                <tbody style="color: black; background: var(--secondary);">
                    {% for item in Statistics %}
                        <tr class="text-center" style = "border-bottom: var(--primary) solid 2px;">
                            <td>{{forloop.counter}}</td>
                            <td>{{item.user}}</td>
                            <td>{{item.points}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div><input type="search" id = "myInput" onkeyup="search()" style="background: var(--secondary);border-style: solid;border-color: var(--primary);margin-top: 10px" placeholder="Search for a user"></div>
    </div>

{% endblock %}

{% block script %}
<script>
    /**
     * This function is used to search the leaderboard for a particular user. It loops through the table
     * and hides any users that do not have a matching expression entered into the search box field#
     *
     * @param none
     *
     * @return none
     *
     * */
    function search() {
      // Declare variables
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("leaderboard");
      tr = table.getElementsByTagName("tr");

      // Loop through all table rows, and hide those who don't match the search query
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[1];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
</script>

{% endblock %}

