{% extends 'navbar.html' %}

{% block title %} You found the Bin!!! {% endblock %}


{% block content %}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Arrived at bin</h4>
            <h6 class="text-muted card-subtitle mb-2">Stuff about the journey</h6>
            <ul>
                <li>{}</li>
                <li>{}</li>
                <li>{}</li>
                <li>{}</li>
            </ul>
            <p class="card-text"></p>
        </div>
    </div>
{% endblock %}