{% extends 'navbar.html' %}

{% load static %}

{% block title %} Bin Navigation {% endblock %}

{% block style %}
    <style>
        .compass {
            position: relative;
            width: 70vw;
            height: 70vw;
            border-radius: 50%;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
            margin: auto;
        }

        .compass > .compass-circle,
        .compass > .my-point {
            position: absolute;
            width: 90%;
            height: 90%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: transform 0.1s ease-out;
            background: url({% static 'figures/arrow.png' %}) center no-repeat;
            background-size: contain;
        }

        #compass {
            vertical-align: middle;
            width: 50%;
            height: 50%;
        }

        .compass > .my-point {
            opacity: 0;
            width: 20%;
            height: 20%;
            background: rgb(8, 223, 69);
            border-radius: 50%;
            transition: opacity 0.5s ease-out;
        }

        .start-btn {
            margin-bottom: auto;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="card main-content">
        <div class="card-body">
            <div style="text-align: center;">
                <h6 class="text-muted mb-2">Finding</h6>
                <h4>{{ BinGoal.binName }}</h4>
            </div>
            <div style="text-align: center;">
                <h6 class="text-muted mb-2" id="distance"></h6>
            </div>
            <div style="text-align: center;">
                <div class="compass">
                    <img id="compass" style="width: 100%" src="{% static 'figures/arrow.png' %}">
                </div>
                <button class="start-btn" style="visibility: hidden;">Start compass</button>
            </div>
            <div>
                <form id="formId" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="distance" id="distance" value=0>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        const compassImg = document.getElementById('compass');
        document.getElementById('distance').innerHTML = "<strong>Loading...</strong>";

        /**
         * Calculates the angle (in degrees) between two latitude and longitude coordinates,
         * as if you're pointing north from the first point.
         *
         * @param {number} lat1 - The latitude of the first point (in degrees).
         * @param {number} lon1 - The longitude of the first point (in degrees).
         * @param {number} lat2 - The latitude of the second point (in degrees).
         * @param {number} lon2 - The longitude of the second point (in degrees).
         * @returns {number} - The angle (in degrees) between the two points, as if you're pointing north from the first point.
         */
        function getAngle(lat1, lon1, lat2, lon2) {
            const dLon = lon2 - lon1;
            const y = Math.sin(dLon) * Math.cos(lat2);
            const x =
                Math.cos(lat1) * Math.sin(lat2) -
                Math.sin(lat1) * Math.cos(lat2) * Math.cos(dLon);
            const radians = Math.atan2(y, x);
            const degrees = radians * 180 / Math.PI;

            // Calculate the angle as if you're pointing north from the first point
            let angleFromNorth = (degrees + 360) % 360;

            return angleFromNorth;
        }


        /**
         * Points an HTML image to a specific compass heading.
         * @param {HTMLElement} img - The HTML image element to point to the specified compass heading.
         * @param {number} angle - The compass heading to point the HTML image element to, in degrees (0-359).
         */
        function pointCompass(img, angle) {
            // Register a device orientation event listener to handle changes in device orientation
            window.addEventListener('deviceorientationabsolute', handleCompass);

            /**
             * Handles device orientation events and updates the HTML image element to point to North.
             * @param {DeviceOrientationEvent} event - The device orientation event.
             */
            function handleCompass(event) {
                // Calculate the rotation angle needed to point the image to North (i.e., 0 degrees)
                let rotationAngle = 0;
                if (event.webkitCompassHeading !== undefined) {
                    // For iOS devices
                    rotationAngle = event.webkitCompassHeading;
                } else if (event.absolute === true && event.alpha !== null) {
                    // For Android devices
                    rotationAngle = 360 - event.alpha;
                }

                // Calculate the difference between the current angle and the desired angle
                var angleDiff = angle - rotationAngle;

                if (angleDiff > 359) {
                    angleDiff = angleDiff - 360;
                } else if (angleDiff < 0) {
                    angleDiff = angleDiff + 360;
                }

                // Apply the rotation transform to the image
                img.style.transform = `rotate(${angleDiff}deg)`;
            }
        }
        
        /**
         * Calculates the distance between two geographical coordinates using the Haversine formula.
         * @param {number} latitude - The latitude of the start location.
         * @param {number} longitude - The longitude of the start location.
         */
        function binDistance(latitude, longitude) {
            var lat1 = latitude;
            var lon1 = longitude;
            var lat2 = {{BinGoal.binLat}};
            var lon2 = {{BinGoal.binLong}};
            var R = 6371; // Radius of the earth in km
            var dLat = deg2rad(lat2 - lat1);
            var dLon = deg2rad(lon2 - lon1);
            var a = Math.sin(dLat / 2) * Math.sin(dLat / 2) +
                Math.cos(deg2rad(lat1)) * Math.cos(deg2rad(lat2)) *
                Math.sin(dLon / 2) * Math.sin(dLon / 2);
            var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
            var d = 1000 * R * c; // Distance in m
            d = d.toFixed(2);
            document.getElementById('distance').innerHTML = "Distance to bin: <strong>" + d + "m</strong>";
            if (d <= 3) {
                document.getElementById("formId").submit();
            }
        }

        /**
         * Converts degrees to radians.
         * @param {number} deg - The angle in degrees to be converted to radians.
         * @returns {number} The angle converted to radians.
         */
        function deg2rad(deg) {
            return deg * (Math.PI / 180);
        }


        // Automatically refreshes the degree to point to at a set interval
        let pointDegree;
        let auto_refresh = setInterval(function () {
            navigator.geolocation.getCurrentPosition(locationHandler);
        }, 1000);

        /**
         * Handles the current location of the user and updates the compass direction and distance to the bin.
         * @param {Position} position - The current position of the user.
         */
        function locationHandler(position) {
            const {latitude, longitude} = position.coords;
            pointDegree = getAngle(latitude, longitude, {{BinGoal.binLat}}, {{BinGoal.binLong}});
            pointCompass(compassImg, pointDegree);

            //console.log("ANGLE");
            //console.log(getAngle(50.730838, -3.516063, 50.728239, -3.522721));

            if (pointDegree < 0) {
                pointDegree = pointDegree + 360;
            }
            binDistance(latitude, longitude);
        }
    </script>
{% endblock %}