<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>

<script>
    let auto_refresh = setInterval(function() { submitform(); }, 3000);

    currentLocationInsert();

    function currentLocationInsert() {
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(binDistCalc);
                } else {
                    x.innerHTML = "Geolocation is not supported by this browser.";
                }
            }

            function binDistCalc(position) {
                var lat = position.coords.latitude;
                var long = position.coords.longitude;
                document.getElementById("lat").value = lat;
                document.getElementById("long").value = long;
            }
            getLocation();
        }

        function submitform(){
            if (document.getElementById("barcode").value != 0){
                console.log(document.getElementById("barcode").value);
                document.getElementById("formId").submit();
            }
        }
</script>