{% extends 'navbar.html' %}
{% load static %}

{% block title %} Scan Now! {% endblock %}

{% block content %}
    <div class="fs-6" style="margin-right: 28px;margin-top: 14px;margin-bottom: 22px;color: var(--bs-secondary);padding-left: 0px;margin-left: 28px;">
        <h1 style="background: #e1edbd;font-size: 30px;padding-bottom: 5px;color: var(--bs-black);">Scanner</h1>
    </div>
    <div class="container">
        <div class="row">
            <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="location_lat" id="lat" value>
                    <input type="hidden" name="location_long" id="long" value>
                    <input type="submit" value=Begin style="background: var(--bs-primary);margin-top: 5px;color: var(--bs-body-color);"></input>
                </form>
            <div class="col-md-6 col-lg-7" style="padding-right: 13px;margin-right: -1px;">
              {% if nearBin %}
                <p>SCANNER</p>
              {% endif %}
                {% if not nearBin %}
                    {% load static %} <img src="../../static/NoBin.png" style = "height:24%; width:auto;" />
                {% endif %}
            </div>

            <div class="col">
                <div class="card"><img class="card-img-top w-100 d-block" width="375" height="80">
                    <div class="card-body">
                        <h4 class="card-title">{Product_name}</h4>
                        <p class="card-text"></p>
                        <ul>
                            <li>New Home : {}</li>
                            <li>Weight : {}</li>
                            <li>Material : {}</li>
                        </ul><button class="btn btn-primary border rounded" type="button">Find Out More</button>
                    </div>
                </div>
            </div>
            <div class="col-4 col-md-6">
                <div class="card"></div>
            </div>
        </div>
    </div>
{% endblock %}

<script>

    function currentLocationInsert() {
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(binDistCalc);
            } else {
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
        }

        function binDistCalc(position) {
            var lat = position.coords.latitude;
            var long = position.coords.longitude;
            document.getElementById("lat").value = lat;
            document.getElementById("long").value = long;
        }

        getLocation();
    }

    currentLocationInsert();
</script>
</html>