{% extends 'navbar.html' %}
{% load static %}

{% block title %} Barcode Scanner {% endblock %}

{% block content %}
    <div class="fs-6" style="margin-right: 28px;margin-top: 14px;margin-bottom: 22px;color: var(--bs-secondary);padding-left: 0px;margin-left: 28px;">
        <h1 style="background: #e1edbd;font-size: 30px;padding-bottom: 5px;color: var(--bs-black);">Scanner</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-7" style="padding-right: 13px;margin-right: -1px;"></div>
            <div class="col">
                <div class="card">    <div style="width: 700px" id="reader"></div>
                    <div id="qr-reader" style="width:700px"></div>
                    <div id="qr-reader-results"></div>
                    <img class="card-img-top w-100 d-block" width="700" height="80">
                    <div class="card-body">
                        <h4 class="card-title">{Product_name}</h4>
                        <p class="card-text"></p>
                         <form id = "formId" method="POST">
                            {% csrf_token %}
                                <input type="hidden" id = barcode name = "barcode" value=0>
                                <input type="hidden" id = weight name = "weight" value=0>
                                <input type="hidden" id = material name = "material" value=0>

                         </form>
                        <ul>
                            <li>New Home : {}</li>
                            <li>Weight : {}</li>
                            <li>Material : {}</li>
                        </ul><button class="btn btn-primary border rounded" type="button">Find Out More</button>
                    </div>
                    {{ productForm }}
                </div>
            </div>
            <div class="col-4 col-md-6">
                <div class="card"></div>
            </div>
        </div>
    </div>
    <script src="{% static 'BCscanner/html5-qrcode.min.js' %}"></script>
    <script>

        var auto_refresh = setInterval(function() { submitform(); }, 100);

        function submitform(){
            if (document.getElementById("barcode").value != 0){
                document.getElementById("formId").submit();
            }
        }

        function docReady(fn) {
            // see if DOM is already available
            if (document.readyState === "complete"
                || document.readyState === "interactive") {
                // call on next available tick
                setTimeout(fn, 1);
            } else {
                document.addEventListener("DOMContentLoaded", fn);
            }
        }

        docReady(function () {
            var resultContainer = document.getElementById('qr-reader-results');
            var lastResult, countResults = 0;
            function onScanSuccess(decodedText, decodedResult) {
                if (decodedText !== lastResult) {
                    ++countResults;
                    lastResult = decodedText;
                    // Handle on success condition with the decoded message.
                    document.getElementById('barcode').value = decodedText;
                    //console.log(`Scan result ${decodedText}`, decodedResult);

                }
            }

            var html5QrcodeScanner = new Html5QrcodeScanner(
                "qr-reader", { fps: 10, qrbox: 250 });
            html5QrcodeScanner.render(onScanSuccess);
        });
    </script>
{% endblock %}