{% extends 'navbar.html' %}
{% load static %}

{% block title %} Scan Now! {% endblock %}

{% block content %}
    <div class="fs-6" style="margin-right: 28px;margin-top: 14px;margin-bottom: 22px;color: var(--bs-secondary);padding-left: 0px;margin-left: 28px;">
        <h1 style="background: #e1edbd;font-size: 30px;padding-bottom: 5px;color: var(--bs-black);">Scanner</h1>
    </div>
    <div class="container">
        <div class="row">
            <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="location_lat" id="lat" value>
                    <input type="hidden" name="location_long" id="long" value>
                    <input type="submit" value=Begin style="background: var(--bs-primary);margin-top: 5px;color: var(--bs-body-color);"></input>
                </form>
            <div class="col-md-6 col-lg-7" style="padding-right: 13px;margin-right: -1px;">
              {% if nearBin %}
                <p>SCANNER</p>
              {% endif %}
                {% if not nearBin %}
                    {% load static %} <img src="../../static/NoBin.png" style = "height:24%; width:auto;" />
                {% endif %}
            </div>

            <div class="col">
                <div class="card">    <div style="width: 700px" id="reader"></div>
                    <div id="qr-reader" style="width:700px"></div>
                    <div id="qr-reader-results"></div>
                    <img class="card-img-top w-100 d-block" width="700" height="80">
                    <div class="card-body">
                        <h4 class="card-title">{Product_name}</h4>
                        <p class="card-text"></p>
                         <form id = "formId" method="POST">
                            {% csrf_token %}
                                <input type="hidden" id = barcode name = "barcode" value=0>
                                <input type="hidden" id = weight name = "weight" value=0>
                                <input type="hidden" id = material name = "material" value=0>

                         </form>
                        <ul>
                            <li>New Home : {}</li>
                            <li>Weight : {}</li>
                            <li>Material : {}</li>
                        </ul><button class="btn btn-primary border rounded" type="button">Find Out More</button>
                    </div>
                    {{ productForm }}
                </div>
            </div>
            <div class="col-4 col-md-6">
                <div class="card"></div>
            </div>
        </div>
    </div>
    <script src="{% static 'BCscanner/html5-qrcode.min.js' %}"></script>
    <script>
        var auto_refresh = setInterval(function() { submitform(); }, 3000);

        currentLocationInsert();
        function currentLocationInsert() {
            function getLocation() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(binDistCalc);
                } else {
                    x.innerHTML = "Geolocation is not supported by this browser.";
                }
            }

            function binDistCalc(position) {
                var lat = position.coords.latitude;
                var long = position.coords.longitude;
                document.getElementById("lat").value = lat;
                document.getElementById("long").value = long;
            }

            getLocation();
        }


        function submitform(){
            if (document.getElementById("barcode").value != 0){
                document.getElementById("formId").submit();
            }
        }

        function docReady(fn) {
            // see if DOM is already available
            if (document.readyState === "complete"
                || document.readyState === "interactive") {
                // call on next available tick
                setTimeout(fn, 1);


        docReady(function () {
            var resultContainer = document.getElementById('qr-reader-results');
            var lastResult, countResults = 0;
            function onScanSuccess(decodedText, decodedResult) {
                if (decodedText !== lastResult) {
                    ++countResults;
                    lastResult = decodedText;
                    // Handle on success condition with the decoded message.
                    document.getElementById('barcode').value = decodedText;
                    //console.log(`Scan result ${decodedText}`, decodedResult);

                }
            }




</script>
{% endblock %}