{% extends 'navbar.html' %}

{% block title %} Product Information {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 offset-md-0">
                <div class="card-body">
                    <picture class="d-sm-flex d-md-flex justify-content-sm-center justify-content-md-center">
                        <img class="d-sm-flex d-md-flex justify-content-md-start" width="100" height="80" src={{ image }}></picture>
                    <div></div>
                    <h6 class="text-center text-muted card-subtitl mb-2"><strong>{{ name }}</strong></h6>
                    <h6 class="text-center text-muted card-subtitle mb-2"><strong>{{ barcode }}</strong></h6>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card-body">
                    <h4 class="card-title">Components</h4>
                    <ul style="list-style-type: none; text-align: center; margin: 0; padding: 0; margin-bottom: 2vh;">
                        <li>Weight: <strong>{{ weight }}</strong></li>
                        <li>Material: <strong>{{ material }}</strong></li>
                        <li>Recyclable: <strong>{{ recycle }}</strong></li>
                        <li>Bin-type: <strong>{{ binType }} bin</strong></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <h4 class="card-title">Product History</h4>
                    <ul style="list-style-type: none; text-align: center; margin: 0; padding: 0; margin-bottom: 2vh;">
                    {% for item in history %}
                        <li> {{ item.time }} at {{ item.bin.binName }} </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% if present_button == 1 %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex d-md-flex justify-content-center justify-content-md-center">
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="location_lat" id="lat" value=0>
                    <input type="hidden" name="location_long" id="long" value=0>
                    <button class="btn btn-primary" type='submit'>Would you like to Recycle</button>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}